body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gridcontainer {
    display: grid;
    height: 700px;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 1fr;
    gap: 10px;
}
.card1 {
    background: rgb(238, 19, 128);
}
.card2 {
    background: orange;
}